body 
{
	margin: 0px;
	padding: 0px;
	outline: none;
	border: 0px;
	text-decoration:none;
	font-family: trebuchet ms;
	font-size: 12px;
	letter-spacing: 2px;
	color:#000000;
        background-image: url('bg.png');
        background-repeat: y;
}

#header
{
	background-color: #f2836b;
	height: 130px;
	width: 100%;
}

#headermenu
{
	float:right;
        position: absolute;
        right:90px;    
        top:60px;
        
}

#headermenu a:link 
{
	text-decoration:none;
	font-family: trebuchet ms;
	font-size: 12px;
	letter-spacing: 2px;
	color:#ffffff;
}

#headermenu a:visited 
{
	text-decoration:none;
	font-family: trebuchet ms;
	font-size: 12px;
	letter-spacing: 2px;
	color:#ffffff;;
}

#headermenu a:hover 
{
	text-decoration:none;
	font-family: trebuchet ms;
	font-size: 12px;
	letter-spacing: 2px;
	color:#cd2c24;
}

#headermenu a:active 
{
	text-decoration:none;
	font-family: trebuchet ms;
	font-size: 12px;
	letter-spacing: 2px;
	color:#cd2c24;
}

#mybag
{
	padding-left: 30px;
}

#menu
{
        background-color: #343029;
	height: 26px;
	width: 100%;
	word-spacing: 2px;
	font-size: 20px;
	padding:0; 
	margin:0; 
	list-style:none;
        float:left;
        border-bottom:4px solid #343029;
        overflow:hidden;
        position:relative;
}

#menu ul 
{
        clear:left;
        float:left;
        list-style:none;
        margin:0;
        padding:0;
        position:relative;
        left:50%;
        text-align:center;
}

#menu ul li 
{
        display:block;
        float:left;
        list-style:none;
        margin:0;
        padding:0;
        position:relative;
        right:50%;
}

#menu ul li a 
{
        display:block;
        margin:0 0 0 1px;
        padding:3px 10px;
        background:#343029;
        color:#343029;
        text-decoration:none;
        line-height:1.3em;
}

#main 
{
	min-height: 400px;
        height: 100%;
	width: 100%;
        padding-top: 40px;
        overflow: scroll;
        position: relative;
        height:auto !important;
}

#footer
{
	background-image: url ('footer.png');
        background-repeat: x;
        background-color: #343029;
	width: 100%;
	height: 120px;
	position: absolute;
        bottom: 0px;
	
}
#footer:after {
	color: #FFFFFF;
	width: 100%;
	content: '\00a9 2012 MyBijou. All rights reserved.';
	bottom: 20px;
	margin-bottom: 20px;
	text-align: center;
	position: absolute;
}

/*Container for promopic */
.container
{
        
}

/* Image style*/
#promopic
{
        display: block;
	margin-left: auto;
        margin-right: auto;
	padding: 0px;
}

#logo
{
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding-top: 20px;
}

/*Header Style */
h2 
{
	font-size: 16px;
	color: #FFFFFF;
	background-color: #343029;
	width: 710px;
	margin-left: 70px;
	padding-top: 2px;
	padding-left: 4px;
	font-family: trebuchet ms;
	font-weight: normal;
       
}

/*Nav list Style*/
#nav li 
{
	float:left; 
	display:block; 
	margin:10px;
	margin-left: 25px;
	border:0px solid #000000;
	border-style:inset;
        text-align: center;
}

#nav li a:link 
{
	text-decoration:none;
	font-family: trebuchet ms;
	color:#FFFFFF;
}

#nav li a:visited 
{
	text-decoration:none;
	font-family: trebuchet ms;
	color:#FFFFFF;
}

#nav li a:hover 
{
	text-decoration:none;
	font-family: trebuchet ms;
	color:#FFFFFF;
}

#nav li a:active 
{
	text-decoration:none;
	font-family: trebuchet ms;
	color:#FFFFFF;
}

#footer_field
{
	border: 0px;
}


.login_register
{
	border: 0px;
	display: block;
	margin-left: 70px;
}

/*Login form style */
.form 
{
	background: #343029;
	color: #FFFFFF;
	display: block;
	font-family: trebuchet ms;
	font-size: 11pt;
	margin-top: 5px;
	width: 200px;
}

.form input[type="text"],
.form input[type="password"] 
{
	border: 1px solid #ccc;
	width: 200px;
}

.form input 
{
	margin-bottom: 8px;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus 
{
	background: #343029;
}

.button 
{
	background-color: #343029;
	border: 0px;
	font-size: 9pt;
	font-family: trebuchet ms;
	letter-spacing: 2px;
	color: #FFFFFF;
	width: 5.5%;
	height: 25px;
	margin-top: 10px;
	display: block;
}

.button:hover 
{
	color: #343029;
}

/*Footer style*/
#newsinput
{
	float: right;
	margin-top:10px;
	margin-right: 60px;
	font-size: 9pt;
	font-family: trebuchet ms;
	color:#343029;
	width: 260px;
	height: 20px;
	resize: none;
}

#newsinput:focus, input:focus {
	color: #FFFFFF;
	background-color: #63a69f;
}

#newsbutton {
	background-color: #63a69f;
	border: 0px;
	float:right;
	margin-top:10px;
	margin-right:10px;
	font-size: 9pt;
	font-family: trebuchet ms;
	font-weight:bold;
	letter-spacing: 2px;
	color: #000000;
	width: 7%;
	height: 25px;
}

#newsbutton:hover {
	background-color: #343029;
}

#validatebutton1
{
	border: 0px;
	position: absolute;
	left: 60px;
	bottom: 10px;
	margin-bottom:10px;
	margin-left: 10px;
}   

#validatebutton2
{
	border: 0px;
	position: absolute;
	left: 150px;
	bottom: 10px;
	margin-bottom:10px;
	margin-left: 10px;
}  

#contact_information
{
	float: left; 
	width: 525px; 
	margin-top: -350px;
	margin-left: 400px;

}