body 
{
	margin: 0px;
	padding: 0px;
	outline: none;
	border: 0px;
}

#header
{
	background-color: #FFFFFF;
	height: 100px;
	width: 100%;
}

#headermenu
{
	float:right;
	margin-top: -90px;
	margin-right: 75px;
}

#headermenu a:link 
{
	text-decoration:none;
	font-weight: bold;
	font-family: trebuchet ms;
	font-size: 12px;
	letter-spacing: 2px;
	color:#000000;
}

#headermenu a:visited 
{
	text-decoration:none;
	font-weight: bold;
	font-family: trebuchet ms;
	font-size: 12px;
	letter-spacing: 2px;
	color:#000000;;
}

#headermenu a:hover 
{
	text-decoration:none;
	font-weight: bold;
	font-family: trebuchet ms;
	font-size: 12px;
	letter-spacing: 2px;
	color:#000000;
}

#headermenu a:active 
{
	text-decoration:none;
	font-weight: bold;
	font-family: trebuchet ms;
	font-size: 12px;
	letter-spacing: 2px;
	color:#000000;
}

#mybag
{
	padding-left: 30px;
}

#menu
{
	background-color: #000000;
	height: 50px;
	width: 100%;
	word-spacing: 2px;
	font-size: 20px;
	padding:0; 
	margin:0; 
	list-style:none;
}

#main 
{
	background-color: #FFFFFF;
	min-height: 450px;
	width: 100%;
	overflow: hidden;
}

#footer
{
	background-color: #000000;
	width: 100%;
	height: 200px;
	top: 0;
	position: relative;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/* Image style*/
#promopic
{
	width: 90%;
}

#logo
{
	margin-left: 20px;
}

/*Header Style */
h2 
{
	font-size: 16px;
	color: #FFFFFF;
	background-color: #000000;
	margin-right: 470px;
	margin-left: 100px;
	padding-top: 2px;
	padding-left: 4px;
	font-family: trebuchet ms;
	font-weight: normal;
}

/*Nav list Style*/
#nav li 
{
	float:left; 
	display:block; 
	margin:10px;
	border:0px solid #000000;
	border-style:inset;
}

#nav li a:link 
{
	text-decoration:none;
	font-family: trebuchet ms;
	color:#FFFFFF;
}

#nav li a:visited 
{
	text-decoration:none;
	font-family: trebuchet ms;
	color:#FFFFFF;
}

#nav li a:hover 
{
	text-decoration:none;
	font-family: trebuchet ms;
	color:#FFFFFF;
}

#nav li a:active 
{
	text-decoration:none;
	font-family: trebuchet ms;
	color:#FFFFFF;
}

/*registration_form style*/
#registration_form 
{
	background: #FFFFFF;
	color: #333;
	display: block;
}

#registration_form input[type="text"],
#registration_form input[type="password"] 
{
	border: 1px solid #ccc;
	width: 200px;
}

#registration_form input 
{
	margin-bottom: 8px;
}

#registration_form input[type="text"]:focus,
#registration_form input[type="password"]:focus 
{
	background: #F4EDB6;
}

#registerbutton 
{
	background-color: #000000;
	border: 0px;
	font-size: 9pt;
	font-family: trebuchet ms;
	letter-spacing: 2px;
	color: #FFFFFF;
	width: 5%;
	height: 25px;
}

#registerbutton:hover 
{
	background-color: #333333;
}

.login_register
{
	border: 0px;
	display: block;
}

/*Login form style */
#login_form 
{
	background: #FFFFFF;
	color: #333;
	display: block;
}

#login_form input[type="text"],
#login_form input[type="password"] 
{
	border: 1px solid #ccc;
	width: 200px;
}

#login_form input 
{
	margin-bottom: 8px;
}

#login_form input[type="text"]:focus,
#login_form input[type="password"]:focus 
{
	background: #F4EDB6;
}

#loginbutton 
{
	background-color: #000000;
	border: 0px;
	font-size: 9pt;
	font-family: trebuchet ms;
	letter-spacing: 2px;
	color: #FFFFFF;
	width: 95px;
	height: 25px;

}

#loginbutton:hover 
{
	background-color: #333333;
}
